#difficulty {
  display: block;
  position:absolute;
  left:150px;
  top: 100px;
}

#bot {
  position:absolute;
  top: 420px;
  left: 150px;
}

#dif {
  display: block;
  position:absolute;
  -webkit-appearance: slider-vertical;
  height: 300px;

}

#tictactoe {
  margin:auto;
  width:620px;
  height:620px;
}

.ticbox {
  width:199px;
  height:199px;
  display: inline-block;
}

.ticbox img {
  width:199px;
  height:199px;

}
#t1 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#t2 {
  border-bottom: 1px solid black;
}

#t3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#t4 {
  border-right: 1px solid black;
}

#t5 {
}

#t6 {
  border-left: 1px solid black;
}

#t7 {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#t8 {
  border-top:1px solid black;
}

#t9 {
  border-top: 1px solid black;
  border-left: 1px solid black;
}